body {
    text-align: center;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
a {
    color: white;
    margin: 40px;
}
h1 {
    color: steelblue;
}
img {
    width: 800px;
    border: 4px solid steelblue;
}
p {
    padding: 10px;
}
footer {
    background-color: steelblue;
    color: white;
}
/* we can target in css the class name that we added in html to change the size of the paragraph in main section*/
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

#active {
    background-color: white;
    color: steelblue;
    
}
