@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');
#content {
    max-width: 1600px;
    margin:0 auto;
    /*background-color: white;*/ /*i delete this because the image can not be seen*/
}

body {
    background-color: #eef1f1;/*it was changed*/
    font-family: raleway, sans-serif, Arial;
    font-size: 22px;
    padding: 0;
    margin:0;
    background-image:url('../images/code.jpg'); 
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    opacity: 0.9;
}
header {
    background-color:#75dddd;
    /*I'm adding the grid */
    display: grid;
    grid-template-columns: 150px auto;
   /*I'm adding the opacity on my own */
   opacity: .95;
   width: 100%;

}
nav a:hover {
    background-color: #508991; /*it was changed*/
    color:white;  
}

footer {
    background-color: #508991 ; /*it was changed*/
    color:white; 
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav a{
    text-align: center; /*it is ok*/
    color:black;
    text-decoration: none;
    padding: 35px;
}

h4 {
    color: black;
}

.home-grid, .home-para{
    color:#09BC8A;
    text-align: center;
    margin: 0 auto;
    padding: 50px 100px;  

}

.main-grid{
    background-color: #172A3A;
    margin:0 auto;
    display:grid;
    width: 85%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    position: relative;
}
.home-para{
    grid-column: 1/2;
    grid-row: 2/3;
    line-height: 1.5em;
   
}
.photo-design{
    grid-column: 1/2;
    grid-row: 3/4;
    margin:20px auto 50px;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 8px 3px black;
    width: 40%;
}
.home-grid{
    grid-column: 1/3;
    grid-row:1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.home-h3, .home-h1{
    grid-column: 1/2;
    color: white;
    font-family: roboto, sans-serif, Arial;

}
.home-h1{
    align-self: end;
    margin-bottom:0;
    font-size: 1.9em;

}
.home-h3{
    align-self: start;
    font-size: 0.9em;
    margin-top:0;

}
.photo-me{
    grid-column: 2/3;
    grid-row: 1/3;
    margin: auto;
    width: 70%;
}
.photo-me:hover{
    transform:scale(1.1);
}

.photo-design:hover{
    transform:translate(10px);
}




/*ADDING STYLES FOR SUBPAGE BENEFITS*/
.benefits-title, .benefits-para{
    width: 75%;
    color:#172A3A;
    text-align: center;
    margin: 0 auto;
    padding: 50px 100px;
    font-family: roboto, sans-serif, Arial;

}
.benefits-h1, .benefits-h3{
    width:75%;
    margin:0 auto;
    text-align: center;
    color: black;
}
.benefits-para{
    text-align: justify;
    margin:0 auto;
    width: 75%;
    padding-top:10px;
    font-family: raleway, sans-serif, Arial;
    line-height: 1.5em;
}
.benefits-h3{
    padding: 20px 0;
    font-size: 1.1em;
}

/* ADDING GRID TO SUBPAGE BENEFITS */
.benefits-main-grid{
    margin:0 auto;
    height: 100%;
    display:grid;
    width: 85%;
    background-color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 15% auto 1fr;
}
.benefits-title{
    width: auto;
    grid-column: 1/2;
    grid-row: 1/2;
}
.benefits-para{
    width: auto;
    margin:0 auto;
    grid-column: 1/2;
    grid-row: 2/3;
}

.benefits-grid{
    width: 40%;
    margin:50px auto;
    margin-bottom: 200px;
    grid-column: 1/2;
    grid-row: 3/4;
    /* align-items:center; */
    display: grid;
    grid-template-columns: 6fr 1fr 2fr 2fr 3fr;
    grid-template-rows: 0.5fr 4fr 0.5fr 1fr 1fr;
    transform:rotate(-45deg);

}
.benefits-grid:hover{
    transform:rotate(0deg);
}

.benefits-img-24{
    grid-column: 1/4;
    grid-row: 1/5;
    width:100%;
    border: 5px solid #09BC8A;
    border-radius: 10px;
    box-shadow: 5px 5px 8px 2px black;
}
.benefits-img-st{
    grid-column: 3/6;
    grid-row: 2/3;
    width:100%;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 8px 2px black;
}
.benefits-img-mo{
    grid-column: 2/5;
    grid-row: 4/6;
    width:100%;
    border: 5px solid #75DDDD;
    border-radius: 10px;
    box-shadow: 5px 5px 8px 2px black;
}




/*ADDING STYLES FOR SUBPAGE WORK*/
#work-background{
    background-color: white;
    width: 70%;
    margin:0 auto;
    color:#172A3A;
    text-align: left;
    padding: 60px 100px 300px;
    font-family: roboto, sans-serif, Arial;
}
.work-h1{
    width:50%;
    text-align: left;
    color: black;
    background-color: white;
}
.work-para2{
    background-color: #09BC8A;
    text-align: justify;
    padding: 30px;
    margin-top:40px;
    margin-bottom: 50px;
    font-family: raleway, sans-serif, Arial;
    line-height: 1.5;
}
.work-img{
    float:right;
    width: 50%;
    height: 200px;
    margin-left: 23px;
    text-align: center;
    box-shadow: 10px 10px 10px 5px black;
}
.work-img:hover{
    background-color: white;
    transform: translate(10px);
}

.work-para1{
    font-family: raleway, sans-serif, Arial;
    padding: 10px 0;
    line-height: 1.5;
}





footer a{ /*it was changed*/
    color:black;
    text-decoration: none;
    
}
footer a:hover{ /*it was changed*/
    color:white;
    
}
.logo, .icon{ /*it was changed*/
    width: 80px;
}


footer p { /*it was changed*/
    font-size: 1.1em;
} 

footer p a:hover{ /*it was changed*/
    text-decoration:underline;
}



#logo_link { /*it was changed*/
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}


footer .social img {/*it was changed*/
    padding-top: 15px;
}


nav { /*it was changed, organized the nav links*/
    display:flex;
    justify-content: space-around;
}


/*adding FORMS*/
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  form li + li {
    margin-top: 1em;
  }
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }

  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

  
/*adding style to submitt*/
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}










/*CREATING COMPONENT*/
/* Style the Image Used to Trigger the Modal */
.photo-me {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .photo-me:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 400px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }


















@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }

    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-grid {
        font-size: 25px;
        color: white; /*it was changed*/
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
